<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzl.jsp.pk.mapper.LessonMapper">
	
<!-- 添加课程信息 -->
<insert id="addLesson" parameterType="com.lzl.jsp.pk.pojo.LessonCustom">
insert into lesson(lessonname,xf,ks,category,start)VALUES(#{lessonname},#{xf},#{ks},#{category},#{start});
</insert>

<!-- 查看所有课程 -->
<select id="selectLesson" resultType="com.lzl.jsp.pk.pojo.LessonCustom">
select * from lesson
</select>
  
</mapper>